<!-- <li>
	{{id}}
	{{burger_name}} -->

	<!-- <button class="eatBurger" data-id="{{id}}">
		{{#if devoured}}{{/if}}
	</button> -->

	<!-- <button class="devoured-burger" data-id="{{this.id}}">Devoured It!</button>
</li> -->
